transformers
pandas
numpy
torch
evaluate
accelerate
SentencePiece
jieba
rouge
fuzzywuzzy
python-Levenshtein
protobuf
-i https://pypi.org/simple/ bitsandbytes
openai
anthropic
seaborn
matplotlib
triton
ninja
packaging
flash-attn --no-build-isolation